@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Ubuntu:300,400,500,700");

/* Global style */


h1 {
    font-size: 60px;
    line-height: 1.0833333333333333;
}

h2 {
    font-size: 52px;
    line-height: 1.4444444444444444;
}

h3 {
    font-size: 26px;
    line-height: 1.0833333333333333;
}

h4 {
    font-size: 22px;
    line-height: 1.2380952380952381;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292928;
    font-family: "Ubuntu", sans-serif;
}

p {
    font-size: 18px;
    color: #a1aed4;
    line-height: 1.625;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: #292928;
    text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}


/*input and button type focus outline disable*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}


/**
 * 5.0 - Alignments
 */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

@-webkit-keyframes opacityAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@-webkit-keyframes upDownAnimation {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 80px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes upDownAnimation {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 80px;
    }
    100% {
        margin-top: 0px;
    }
}

@-webkit-keyframes phoneAni {
    0% {
        margin: 0px;
    }
    33% {
        margin-left: 5px;
    }
    66% {
        margin-left: -5px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes phoneAni {
    0% {
        margin: 0px;
    }
    33% {
        margin-left: 5px;
    }
    66% {
        margin-left: -5px;
    }
    100% {
        margin-top: 0px;
    }
}

@-webkit-keyframes manAni {
    0% {
        margin: 0px;
    }
    33% {
        margin-top: 5px;
    }
    66% {
        margin-top: -5px;
    }
    100% {
        margin: 0px;
    }
}

@keyframes manAni {
    0% {
        margin: 0px;
    }
    33% {
        margin-top: 5px;
    }
    66% {
        margin-top: -5px;
    }
    100% {
        margin: 0px;
    }
}

@-webkit-keyframes shieldAni {
    0% {
        margin: 0px;
    }
    33% {
        margin-top: 5px;
    }
    66% {
        margin-top: -5px;
    }
    100% {
        margin: 0px;
    }
}

@keyframes shieldAni {
    0% {
        margin: 0px;
    }
    33% {
        margin-top: 5px;
    }
    66% {
        margin-top: -5px;
    }
    100% {
        margin: 0px;
    }
}

@-webkit-keyframes rippleAni {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    33% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    66% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes rippleAni {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    33% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    66% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes ripple2Ani {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    33% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    66% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ripple2Ani {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    33% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    66% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

.mybtn1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 35px;
    display: inline-block;
    color: #fff;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-image: -webkit-gradient(linear, right top, left top, from(#ff344d), to(#d2273c));
    background-image: -webkit-linear-gradient(right, #ff344d, #d2273c);
    background-image: -o-linear-gradient(right, #ff344d, #d2273c);
    background-image: linear-gradient(to left, #ff344d, #d2273c);
}

.mybtn1:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff344d), to(#d2273c));
    background-image: -webkit-linear-gradient(left, #ff344d, #d2273c);
    background-image: -o-linear-gradient(left, #ff344d, #d2273c);
    background-image: linear-gradient(to right, #ff344d, #d2273c);
    color: #fff;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

.mybtn2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    width: 190px;
    display: inline-block;
    color: #fff;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: -webkit-gradient(linear, right top, left top, from(#1c294e), to(#1c294e));
    background: -webkit-linear-gradient(right, #1c294e, #1c294e);
    background: -o-linear-gradient(right, #1c294e, #1c294e);
    background: linear-gradient(to left, #1c294e, #1c294e);
}

.mybtn2:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff344d), to(#d2273c));
    background: -webkit-linear-gradient(left, #ff344d, #d2273c);
    background: -o-linear-gradient(left, #ff344d, #d2273c);
    background: linear-gradient(to right, #ff344d, #d2273c);
    color: #fff;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}


/* Section Heading Css */

.section-heading {
    text-align: center;
}

.section-heading .subtitle {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
    background: -webkit-linear-gradient(to left, #ff344d, #d2273c);
    background: -moz-linear-gradient(to left, #ff344d, #d2273c);
    background: -ms-linear-gradient(to left, #ff344d, #d2273c);
    background: -o-linear-gradient(to left, #ff344d, #d2273c);
    background: -webkit-gradient(linear, right top, left top, from(#ff344d), to(#d2273c));
    background: -webkit-linear-gradient(right, #ff344d, #d2273c);
    background: -o-linear-gradient(right, #ff344d, #d2273c);
    background: linear-gradient(to left, #ff344d, #d2273c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading .subtitle.extra-padding {
    margin-bottom: 17px;
}

.section-heading .title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 10px;
}

.section-heading .title.extra-padding {
    margin-bottom: 20px;
}

.section-heading .text {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: none !important;
    margin: 0px;
    padding: 0px;
}

.navbar-toggler:focus {
    outline: 0px;
}


label {
    color: silver;
}

/* bottomtotop Css */
.bottomtotop i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 15px;
    right: 15px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background: #f9314b;
}

.body-account {
    position: relative;
    margin-top: 100px;
}

.body-account .account-info {
    position: relative;
    margin-bottom: 15px;
    display: inline-flex;
}

.body-account .account-info .avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #dfdfdf;
    color: #dfdfdf;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.body-account .account-info .user-name {
    margin-left: 15px;
    padding-top: 5px;
    color: #dfdfdf;
}

.body-account .account-info .user-name .user-role {
    position: absolute;
    z-index: 99;
    right: -80px;
    top: 8px;
    background: rgb(247, 209, 85, 0.3);
    border: 1px solid #f0b90b;
    width: 70px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}

.body-account .account-info .user-name .user-role p {
    color:  #f0b90b;
    font-weight: 700;
    font-size: 14px;
}


.body-account .tabs {
    position: relative;
    width: 100%;
    margin-top: 15px;
    border-bottom: 2px solid #2b1861;
}

.body-account .tabs .btn-tab {
    color: #ffffff;
    background: #2b1861;
    min-width: 100px;
    border-radius: 10px 10px 0 0;
    margin: 5px 5px 0 5px;
}

.body-account .tabs .btn-tab:hover,
.body-account .tabs .btn-tab:focus
{
    background: #070b28;
    border-color: #f0b90b;
    box-shadow: none;
    border-bottom-color: #070b28;
    color: #f0b90b;
    font-weight: 400;
}

.body-account .tabs .active {
    background: #070b28;
    border-color: #f0b90b;
    box-shadow: none;
    border-bottom-color: #070b28;
    color: #f0b90b;
    font-weight: 700 !important;
    -webkit-box-shadow: 0px -3px 3px 0px rgba(57,63,107,1);
    -moz-box-shadow: 0px -3px 3px 0px rgba(57,63,107,1);
    box-shadow: 0px -3px 3px 0px rgba(57,63,107,1);
}

.body-account .tab-content {
    min-height: 350px;
}

.body-account .dashboard {
    width: 100%;
    margin-top: 15px;
}

.body-account .card {
    margin: 10px;
    padding: 35px 20px 15px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-radius: 10px;
}

.body-account .card .card-title {
    position: relative;
    display: inline-flex;
}

.body-account .card .card-title .balance-type {
    width: 75px;
    height: 30px;
    font-size: 14px;
    margin-left: 15px;
    padding: 5px;
    background: #e7e7e7;
}

.body-account .card small {
    font-style: italic;
}

.body-account .card .card-body {
    display: inline-flex;
    padding: 0;
    margin-bottom: 15px;
}

.body-account .card .card-body .btn-deposit {
    background: #2b1861;
    color: #393939;
    margin-right: 5px;
    border: 1px solid #636a88;
}

.body-account .card .card-body .btn-deposit:hover,
.body-account .card .card-body .btn-deposit:focus
{
    background: #584294;
    color: #fffb00;
    border: 1px solid #3d4052;
}

.body-account .card .card-body .btn-deposit.disable {
    background: #636a88;
}

.body-account .input-read-only {
    pointer-events: none;
    background: #2b1861;
    cursor: default;
    color: #fffb00;
    font-weight: 700;
    border: none;
    box-shadow: none;
}

.body-account .card p {
    margin: 5px;
    font-size: 15px;
}

.body-account .qrCode-over {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}
.body-account .qrCode {
    position: fixed;
    z-index: 999999;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    width: 300px;
    height: 300px;
    opacity: 1;
    border-radius: 15px;
}
.body-account .qrCode canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.body-account .btn-close {
    position: absolute;
    background: none;
    font-size: 30px;
    width: 35px;
    height: 35px;
    right: 5px;
    top: -15px;
    border-radius: 50%;
}

.body-account .btn-close:hover,
.body-account .btn-close:focus {
    box-shadow: none;
    color: #bfbfbf;
}

.body-account .card .card-body h3 {
    font-weight: 600;
    font-size: 40px;
}

.body-account .card .card-body h4 {
    font-weight: 400;
    margin-top: 15px;
    margin-left: 10px;
}

.body-account .card .card-body h5 {
    font-size: 17px;
    font-weight: 400;
    margin-right: 10px;
}

.body-account .card .table-lottery {
    border: none;
    color: #dfdfdf;
}

.body-account .card .table-lottery tbody{
    max-height: 50px;
    overflow: hidden;
    overflow-x: scroll
}

.body-account .card .table-lottery tr {
    border: none;
}

.body-account .card .table-lottery tr td {
    border: none;
}

.body-account .card .table-lottery tr td span.loss {
    border-radius: 20px;
    background: #8b2121;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
}

.body-account .card .table-lottery tr td span.win {
    border-radius: 20px;
    background: #1b8521;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding: 5px 10px;
}

.number-list {
    margin: 0 -3px;
}

.number-list li {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin: 5px;
    font-weight: 600;
    border-radius: 50%;
    background-image: -moz-linear-gradient(26deg, #382f21 9%, #8b642a 39%, #de9932 100%);
    background-image: -webkit-linear-gradient(26deg, #382f21 9%, #8b642a 39%, #de9932 100%);
    background-image: -ms-linear-gradient(26deg, #382f21 9%, #8b642a 39%, #de9932 100%);
    background-image: linear-gradient(26deg, #382f21 9%, #8b642a 39%, #de9932 100%);
    color: #ffffff;
}